body {
  margin: 0 auto;
  background-color: #23252C;
  color: #ffffff;
  max-width: 410px;
  height: 100vh;
}

/*--------------profile image--------------*/
.app--container {
  margin: 1.3em 1.8em;
  background-color: #1A1B21;
}

/*--------------Typography------------------*/
h2,
h5,
p {
  margin: 0;
  text-align: center;
}

/*------------------info container-----------*/

.info--name {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 30px;
  margin-top: 15px;
}

.info--portrait {
  width: 100%;
}

.info--occupation {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #F3BF99;
  margin-bottom: 8px;
}

.info--website {
  margin-bottom: 15px;
  font-size: 11px;
  line-height: 150%;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-bottom: 1.5em;
}

/*---------about and interests container -----------*/

.about--container, .interests--container {
max-width: 245px;
margin: 0 auto;
padding-bottom: 1em;
}

.about--title, .interests--title {
  margin: 0 0 0.5em 0;
}

.about--text, .interests--text {
color: #dcdcdc;
font-size: 11px;
font-weight: 400;
line-height: 150%;
flex-wrap: wrap;
text-align: left;
}

.interests--container {
  padding-bottom: 2.5em;
}

/*----------footer------------*/

.footer--container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 1.5em 0;
  background-color: #161619;
}