body {
  margin: 0 auto;
  background-color: #23252C;
  color: #ffffff;
  max-width: 410px;
}

/*--------------profile image--------------*/
.info-container {
  margin: 1.3em 1.8em;
  background-color: #1A1B21;
}

/*--------------Typography------------------*/
h2,
h5,
p {
  margin: 0;
  text-align: center;
}

/*------------------info container-----------*/

.info--name {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 30px;
  margin-top: 15px;
}

.info--portrait {
  width: 100%;
}

.info--occupation {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #F3BF99;
  margin-bottom: 8px;
}

.info--website {
  margin-bottom: 15px;
  font-size: 10px;
  line-height: 150%;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-bottom: 1.5em;
}